*, *::before, ::after{
    box-sizing: border-box;
    font-family: sans-serif;
    font-weight: normal;
    margin: 0;
    padding: 0;
}

body{
    
    height: 100vh;
    
}

.head-section{
    
    border-bottom: 2px solid black;
    height: fit-content;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.head-section > h2{
    padding: 1vh;
    margin: 0;
    padding-left: 3vw;
    padding-right: 3vw;
    padding-top: auto;
    padding-bottom: auto;
    
    
}

.head-section :first-child{
    border-right: 2px solid black;
    background-color: black;
    color: white;
    padding-left: 3vw;
    padding-right: 3vw;
    padding-top: auto;
    padding-bottom: auto;
    
   
}




.sub-head-section{
    background-color: black;
    margin-left: auto;
   
    padding-left: 1vw;
    padding-right: 1vw;
    height: fit-content;
    width: 80vw;
    max-width: 400px;
    align-self: center;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: small;
}

.sub-head-section > h3{
    color: white;
    padding: 0.5vh;
    text-align: center;

}

.sub-head-section :first-child{
    font-size: small;
   font-style: italic;
   text-align: right;
}

.blog-post{
    border: 1px solid black;
    margin: 2vh 2vw 1vh 2vw;
    display: flex;
    flex-direction: column;
}

.blog-post > h3{
    background-color: black;
    color: white;
    text-align: center;
    padding-top: 0.5vh;
    padding-bottom: 0.5vh;
    
}

.blog-post > img{
    margin: 0;
    padding: 0;
}

.blog-post > p{
    margin: 2vh 2vw 1vh 2vw;
    padding: 2vh 4vw 2vh 4vw;
}

.blog-post > h5{
    text-align: end;
    background-color: black;
    color: white;
    margin-left: auto;
    padding: 0.5vh 2vw;
}

.blog-post > ul{
    padding-left: 6vw;
    margin-top: -1.5vh;
    text-decoration: none;
    list-style:inside;
    
    text-align: left;

}

.blog-post > ul > li{
    padding-top: 0.5vh;
}
